@{
    ViewBag.Title = "CAC";    
}
<main id="app">    
</main>
<!-- /.container -->
@section scripts{
    <script src="~/js/signalr-client-1.0.0-alpha2-final.min.js"></script>
    <script src="~/js/cac.js"></script>
}