@{
    ViewBag.Title = "CAC";
}
<div role="main" class="container" id="app">
</div>
<!-- /.container -->
@section scripts{
    <script src="~/js/vendors.js"></script>
    <script src="~/js/cac.js"></script>
}