@{
    ViewBag.Title = "CAC";
}
@section styles{
    <link rel="stylesheet" href="~/assets/styles/cac.css" />
}
<div role="main" class="container" id="app">
</div>
<!-- /.container -->
@section scripts{
    <script src="~/js/cac.js"></script>
}