@{
    ViewBag.Title = "Index";    
}

<div class="jumbotron">
    <h1 class="display-3">Welcome!</h1>
    <p class="lead">My personal portfolio of experiments.</p>
    <hr class="my-4">   
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="@Url.Action("CAC","Home")" role="button">Play CAC</a>
        <a class="btn btn-primary btn-lg" href="@Url.Action("SoliCACrio","Home")" role="button">Play SoliCACrio</a>
    </p>
</div>
