
@{
    ViewData["Title"] = "Index";
    Layout="~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1 class="display-3">Welcome!</h1>
    <p class="lead">My personal portfolio of experiments.</p>
    <hr class="my-4">   
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Play CAC</a>
    </p>
</div>
