@{
    ViewBag.Title = "SoliCACrio";
}
@section styles{
    <link rel="stylesheet" href="~/assets/styles/solicacrio.css" />
}
<div role="main" class="container" id="app">
</div>
<!-- /.container -->
@section scripts{
    <script src="~/js/solicacrio.js"></script>
}